.CatInput-overlay {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.CatInput-overlay-displayed {
  display: flex;
}

.CatInput-input {
  padding: 10px 15px;
  width: 500px;
  border: 0;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 300;
}

.CatInput-button {
  border: 3px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
}

.CatInput-button:hover {
  cursor: pointer;
}
