.SearchCat-overlay {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  padding: 8%;
}

.SearchCat-button {
  border: 3px solid white;
  color: white;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.SearchCat-content {
  background-color: white;
  height: 100%;
  width: 100%;
  color: #1e1e1e;
  position: relative;
}