.SearchCatForm-results {
  overflow: scroll;
  height: calc(100% - 55px);
  display: flex;
  flex-wrap: wrap;
}

.SearchCatForm-results img {
  max-height: 150px;
  max-width: 150px;
  margin: 4px;
  cursor: pointer;
}

.SearchCatForm-choice {
  display: inline-block;
  position: relative;
}

.SearchCatForm-checkbox {
  bottom: 12px;
  right: 12px;
  position: absolute;
  height: 32px;
}

.SearchCatForm-selected {
  outline: 8px solid green;
  outline-offset: -8px;
}
.SearchCatForm-select {
  display: inline-block;
  width: 50%;
}
.SearchCatForm-submit {
  font-size: 24px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.SearchCatForm {
  position: absolute;
  height: 100%;
  width: 100%;
}

.SearchCatForm-results .SearchCatForm-excluded {
  opacity: 0.2;
  cursor: not-allowed;
}
