* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #282c34;
  height: 75px;
  font-size: 35px;
  color: white;
}

.App-header-buttons > *:first-child {
  margin-right: 10px;
}
